<h1>Modifier le voyage</h1>

<%= simple_form_for [@user, @country, @travel] do |f| %>
  <div>
  <%= f.input :name, label: 'Nom du voyage' %>
  </div>
  <div>
  <%= f.input :travel_start_date, as: :date, html5: true, order: [:day, :month, :year], label: 'Date de début du voyage' %>
  </div>
  <div>
  <%= f.input :travel_end_date, as: :date, html5: true, order: [:day, :month, :year], label: 'Date de fin du voyage' %>
  </div>
  <div>
  <%= f.input :country_ids, collection: @countries, label_method: :french_name, value_method: :id, label: 'Pays' %>
  <%= f.simple_fields_for :travel_countries do |s| %>
    <%= s.input :duration, as: :integer, label: 'Durée dans le pays' %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to travels_path do %>
  <p>Retour</p>
  <% end %>
