<h1>Modifier le voyage</h1>

<%= simple_form_for [@user, @country, @travel] do |f| %>
  <div>
  <%= f.input :name, label: 'Nom du voyage' %>
  </div>
  <div>
    <%= f.simple_fields_for :travel_countries do |t| %>
      <%= t.input :country_id, collection: @continents,
                  :as => :grouped_select,
                  :group_method => :countries,
                  :group_label_method => :name,
                  label_method: :french_name, value_method: :id,
                  label: 'Pays', include_blank: 'Choisir un pays',
                  input_html: {class: "select2"} %>
      <%= t.input :start_date, :as => :hidden, input_html: {class: "datePicker"}, label: 'Date de début du Séjour' %>
      <%= t.input :end_date, :as => :hidden, input_html: {class: "datePicker"}, label: 'Date de fin du Séjour' %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>

<%= link_to travels_path do %>
  <p>Retour</p>
<% end %>
