<h1>Modifier le voyage</h1>


<%= form_for [@user, @country, @travel] do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :travel_start_date %>
  <%= f.text_field :travel_end_date %>
  <%= f.collection_select :country_ids, @countries, :id, :french_name %>
  <%= f.fields_for :travel_countries do |s| %>
    <%= s.number_field :duration %>
    <% end %>
  <%= f.submit %>
<% end %>

<%= link_to travels_path do %>
  <p>Retour</p>
  <% end %>
