<h1>Modifier le voyage</h1>

<%= simple_form_for [@user, @country, @travel] do |f| %>
  <div>
  <%= f.input :name, label: 'Nom du voyage' %>
  </div>
  <div>
    <p>Début du voyage</p>
    <input type="text" id="datePicker" placeholder="Date de début du voyage" name=travel[travel_start_date]>
  </div>
  <div>
    <p>Fin du voyage</p>
    <input type="text" id="datePicker" placeholder="Date de fin du voyage" name=travel[travel_end_date]>
  </div>
  <div>
  <%= f.simple_fields_for :countries do |c| %>
    <%= c.input :id, collection: @countries, label_method: :french_name, value_method: :id, label: 'Pays', include_blank: 'Choisir un pays'  %>
  <% end %>
  <%= f.simple_fields_for :travel_countries do |t| %>
    <%= t.input :duration, as: :integer, label: 'Durée dans le pays' %>
  <% end %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to travels_path do %>
  <p>Retour</p>
  <% end %>
