<h1><%= t('.title') %></h1>

<%= simple_form_for [@user, @country, @travel] do |f| %>
  <div>
    <%= f.input :name, label: t('.name') %>
  </div>
  <div id="flat-pckr">
    <%= f.simple_fields_for :travel_countries do |t| %>
      <%= t.input :country_id, collection: @continents,
                  :as => :grouped_select,
                  :group_method => :countries,
                  :group_label_method => :fr_name,
                  label_method: :french_name, value_method: :id,
                  label: t('.country'), include_blank: t('.choice'),
                  input_html: {class: "select2"}, disabled: true %>
      <%= t.input :start_date, :as => :hidden, input_html: {class: "datePicker"}, label: t('.start') %>
      <%= t.input :end_date, :as => :hidden, input_html: {class: "datePicker"}, label: t('.end') %>
    <% end %>
  </div>
  <%= f.submit t('.update') %>
<% end %>

<%= link_to travels_path do %>
  <p><%= t('.back_dashboard') %></p>
<% end %>
