<div id="header"></div>
<div class="global-container">
  <div class="id-card"></div>
  <!-- <h1><%= t('.title') %></h1>
  <p></p> -->
  
  <div id="container-add-travel"> 
    <%= link_to new_travel_path do %>
      <div class="pink-card" id="add-travel">
          <h4><%= t('.add') %></h4>
          <p><%= t('.sub_add') %></p>
      </div>
    <% end %>
  </div>
  
  <h2 id="title"><%= t('.title') %></h2>
  <div id="container-travels"> 
    <div class="container-travel-list" style="grid-template-columns: repeat(<%= @travels.count %>, 1fr);">
      <% @travels.each do |travel| %>
        <div class="container-travel-cards">
          <%= link_to travel_path(travel) do %>
            <div class="travel-card">
              <h4><%= travel.name %></h4>
              <% if travel.travel_start_date && travel.travel_end_date %>
                <p><%= l travel.travel_start_date %> - <%= l travel.travel_end_date %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="container-documents"> 
    <%= link_to documents_path do %>
      <div class="pink-card" id="documents">
          <h4><%= t('.documents') %></h4>
          <p><%= t('.sub_documents') %></p>
      </div>
    <% end %>
  </div>
</div>