<h1>Ajouter un nouveau voyage</h1>


<%= form_for [@user, @country, @travel] do |f| %>
  <%= f.text_field :name, :placeholder => 'Nom du voyage' %>
  <%= f.text_field :travel_start_date, :placeholder => 'dd/mm/yyyy' %>
  <%= f.text_field :travel_end_date, :placeholder => 'dd/mm/yyyy' %>
  <%= f.collection_select :country_ids, @countries, :id, :name %>
  <%= f.number_field :travel_countries, :placeholder => 'en nb de jours' %>

  <%= f.submit %>
<% end %>

<%= link_to travels_path do %>
  <p>Retour</p>
  <% end %>
