<h1>Ajouter un nouveau voyage</h1>


<%= form_for [@user, @country, @travel] do |f| %>
  <div>
  <%= f.label :name, 'Nom du voyage' %>
  <%= f.text_field :name %>
  </div>
  <div>
  <%= f.label :travel_start_date, 'Date de début du voyage' %>
  <%= f.date_select :travel_start_date, :order => [:day, :month, :year] %>
  </div>
  <div>
  <%= f.label :travel_end_date, 'Date de fin du voyage' %>
  <%= f.date_select :travel_end_date, :order => [:day, :month, :year] %>
  </div>
  <div>
  <%= f.label :country_ids, 'Pays' %>
  <%= f.collection_select :country_ids, @countries, :id, :name %>
  <%= f.label :name, 'Durée dans le pays' %>
  <%= f.number_field :travel_countries, :placeholder => 'en nb de jours' %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to travels_path do %>
  <p>Retour</p>
  <% end %>
