<h1>Ajouter un nouveau voyage</h1>


<%= simple_form_for [@user, @country, @travel] do |f| %>
  <div>
  <%= f.input :name, label: 'Nom du voyage' %>
  </div>
  <div>
  <%= f.input :travel_start_date, as: :date, html5: true, order: [:day, :month, :year], label: 'Date de début du voyage' %>
  </div>
  <div>
  <%= f.input :travel_end_date, as: :date, html5: true, order: [:day, :month, :year], label: 'Date de fin du voyage' %>
  </div>
  <div>
  <%= f.input :country_ids, collection: @countries, label_method: :french_name, value_method: :id, label: 'Pays' %>
  <%= f.input :travel_countries, as: :integer, label: 'Durée dans le pays', :placeholder => 'en nb de jours' %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to travels_path do %>
  <p>Retour</p>
  <% end %>
