<h1>Détails de ton voyage</h1>
<p></p>


Nom du Voyage: <%= @travel.name %>
<br>
Durée globale: x jours
<br>
Pays:
<hr>
<% @travel.countries.each do |country| %>
  <div>
    <p><strong><%= country.french_name %></strong></p>
<!--     Algo à revoir pour le display des durées par pays
      country.travel_countries.where(@travel == country.travel_countries.travel_id) -->
      <% if country.travel_countries.find_by(travel_id: @travel).start_date && country.travel_countries.find_by(travel_id: @travel).end_date %>
        du <%= l country.travel_countries.find_by(travel_id: @travel).start_date %>
        au <%= l country.travel_countries.find_by(travel_id: @travel).end_date %>
        <br>
        <p>soit une durée de : <%= (country.travel_countries.find_by(travel_id: @travel).end_date - country.travel_countries.find_by(travel_id: @travel).start_date).to_i %> jours</p>
      <% end %>
<!--     Temp: display de tous les visas pour exemple d'affichage
    mais travailler algo pour les filtrer en fonction de la durée -->

    <p>Visas:</p>
    <ul>
    <% country.visas.each do |visa| %>
    <li><%= visa.name %></li>
    <% end %>
    </ul>
<!--     Temp: display de tous les vaccins pour exemple d'affichage
    mais travailler algo -->

    <p>Vaccins:</p>
    <ul>
    <% country.vaccines.each do |vaccine| %>
    <li><%= vaccine.name %></li>
    <% end %>
  </ul>
  </div>
  <hr>
<% end %>

<%= link_to edit_travel_path(@travel) do %>
  <p>Modifie ce voyage </p>
<% end %>

<%= link_to travel_path, method: :delete, data: { confirm: "Es-tu certain?" } do %>
  <p>Supprime ce voyage</p>
<% end %>



<%= link_to travels_path do %>
  <p>Retour à la liste de tes voyages </p>
<% end %>
