<h1><%= t('.title') %></h1>
<hr>
<!-- TRAVEL DETAILS BEGINS -->
<%= t('.name') %> <%= @travel.name %>
<br>
<% if @travel.travel_start_date && @travel.travel_end_date %>
  <%= t('.from') %> <%= l @travel.travel_start_date %>
  <%= t('.to') %> <%= l @travel.travel_end_date %>
  <br>
  <p><%= t('.eq') %> <%= (@travel.travel_end_date - @travel.travel_start_date).to_i %> <%= t('.days') %></p>
<% end %>
<!-- TRAVEL DETAILS ENDS -->
<hr>
<!-- TODO LIST BEGINS -->
<p>To Do List</p>
  Onboarding <%= @travel.onboarding_percent.round %>% Complete
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= @travel.onboarding_percent.round %>%" aria-valuenow="<%= @travel.onboarding_percent %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <!-- VACCINES - TODO LIST BEGINS -->
  <br>
number of vaccins: <%= @travel.vaccine_progressions.count %> <br>
number of vaccins done: <%= @travel.vaccine_progressions.where('"done" = true').count %> <br>
number of travel_countries: <%= @travel.travel_countries.count %> <br>
<br>
<% if !@travel.stay_vaccine_progressions.empty? %>
  <p>Vaccins</p>
  <div>
    <% @travel.vaccine_progressions.each do |vaccine_progression| %>
      <br>
      <% svp = @travel.stay_vaccine_progressions.find_by(vaccine_progression_id: vaccine_progression.id) %>

      <% if !svp.nil? %>

        <%= vaccine_progression.vaccine.name %>
        <%= vaccine_progression.done %>
        <%= link_to travel_vaccine_progression_path(@travel, vaccine_progression ), :method => :patch do %>
          <%= t('.MarkAsDoneOrUndone') %>
        <% end %>
        <br>
      <% end %>
    <% end %>
  <!-- si le vaccine_progression(id) est dans stay_vaccine_prog avec l'id d'un travel country appartenant à travel-->
  </div>
<% end %>
  <!-- VACCINES - TODO LIST ENDS -->
  <!-- VISAS - TODO LIST BEGINS -->
<br>
number of visas selected: <%= @travel.visa_progressions.count %> <br>
number of visas done: <%= @travel.visa_progressions.where('"done" = true').count %> <br>
number of travel_countries: <%= @travel.travel_countries.count %> <br>
<br>
<% if !@travel.visa_progressions.empty? %>
  <p>Visas</p>
  <div>
    <% @travel.visa_progressions.each do |vp| %>
    <div>
        <%= vp.visa.name %> for <%= Country.find(vp.travel_country.country_id).french_name %>
        <%= vp.done %>
        <%= link_to travels_country_visa_visa_progression_path(vp.travel_country, vp.visa, vp ), :method => :patch do %>
          <%= t('.MarkAsDoneOrUndone') %>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
<% end %>
<br>
  <!-- VISAS - TODO LIST ENDS -->
<!-- TODO LIST ENDS -->
<hr>
<!-- COUNTRIES BEGINS -->
<%= t('.countries') %>
<hr>
<% @travel.countries.each do |country| %>
  <div>
    <!-- COUNTRY DETAIL BEGINS -->
    <p><strong><%= country.french_name %></strong></p>
    <!-- Algo à revoir pour le display des durées par pays
      country.travel_countries.where(@travel == country.travel_countries.travel_id) -->
    <% if country.travel_countries.find_by(travel_id: @travel).start_date && country.travel_countries.find_by(travel_id: @travel).end_date %>
      <%= t('.from') %> <%= l country.travel_countries.find_by(travel_id: @travel).start_date %>
      <%= t('.to') %> <%= l country.travel_countries.find_by(travel_id: @travel).end_date %>
      <br>
      <p><%= t('.eq') %> <%= (country.travel_countries.find_by(travel_id: @travel).end_date - country.travel_countries.find_by(travel_id: @travel).start_date).to_i %> <%= t('.days') %></p>
    <% end %>
    <!-- Temp: display de tous les visas pour exemple d'affichage
    mais travailler algo pour les filtrer en fonction de la durée -->
    <%= link_to edit_travel_travel_country_path(@travel, country.travel_countries.find_by(travel_id: @travel)) do %>
      <p><%= t('.edit') %></p>
    <% end %>

    <%= link_to travel_travel_country_path(@travel, country.travel_countries.find_by(travel_id: @travel)), method: :delete, data: { confirm: "Es-tu certain?" } do %>
      <p><%= t('.delete') %></p>
    <% end %>
    <!-- COUNTRY DETAIL ENDS -->
    <!-- VISAS FOR COUNTRY BEGINS -->
    <p><%= t('.visas') %></p>
    <% if ! country.visas.empty? %>
      <ul>
        <% country.visas.each do |visa| %>
          <li>
              <p><%= visa.name %></p>
              <p><% if !visa.extra_info.nil? %><%= t('.extra_info') %> <%= visa.extra_info %><% end %></p>
              <p><% if !visa.duration.nil? %><%= t('.duration_visas') %> <%= visa.duration %><% end %></p>
              <p><% if !visa.validity.nil? %><%= t('.validity') %> <%= visa.validity %><% end %></p>
              <p><% if !visa.age_max.nil? %><%= t('.age_max') %> <%= visa.age_max %><% end %></p>
              <p><% if !visa.price.nil? %><%= t('.price') %> <%= visa.price %><% end %></p>
              <p><% if !visa.application.nil? %><a href="<%= visa.application %>" target="_blank"><%= t('.application') %></a><% end %></p>
              <p><% if !visa.embassy.nil? %><a href="<%= visa.embassy %>" target="_blank"><%= t('.embassy') %></a><% end %></p>
              <p><% if !visa.fr_diplomacy.nil? %><a href="<%= visa.fr_diplomacy %>" target="_blank"><%= t('.fr_diplomacy') %></a><% end %></p>
          </li>
          <%= link_to travels_country_visa_visa_progressions_path(country.travel_countries.find_by(travel_id: @travel), visa ), :method => :post do %>
            <p><%= t('.Choose') %></p>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p><%= t('.no_visa') %></p>
    <% end %>
    <!-- VISAS FOR COUNTRY ENDS -->
    <!-- VACCINES FOR COUNTRY BEGINS -->
    <!-- Temp: display de tous les vaccins pour exemple d'affichage
    mais travailler algo -->
    <p><%= t('.vaccines') %></p>
    <% if ! country.vaccine_countries.empty? %>
      <p><%= t('.vaccines_txt') %></p>
      <p><%= t('.systematically') %></p>
      <ul>
        <% country.vaccine_countries.each do |vaccine_country| %>
          <% if vaccine_country.systematic? %>
            <%= link_to vaccine_path(vaccine_country.vaccine) do %>
              <li><%= vaccine_country.vaccine.name %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <p><%= t('.advisable') %></p>
      <ul>

        <% country.vaccine_countries.each do |vaccine_country| %>
          <% if !vaccine_country.systematic? %>
            <%= link_to vaccine_path(vaccine_country.vaccine) do %>
              <li><%= vaccine_country.vaccine.name %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p><%= t('.no_vaccin') %></p>
    <% end %>
    <!-- VACCINES FOR COUNTRY ENDS -->
  </div>
<% end %>
<!-- COUNTRIES ENDS -->
<hr>
<!-- TRAVEL EDITION BEGINS -->
<%= link_to new_travel_travel_country_path(@travel) do %>
  <p><%= t('.add') %></p>
<% end %>

<%= link_to edit_travel_path(@travel) do %>
  <p><%= t('.edit_global') %></p>
<% end %>

<%= link_to travel_path, method: :delete, data: { confirm: t('.confirmation') } do %>
  <p><%= t('.delete_global') %></p>
<% end %>

<!-- TRAVEL EDITION ENDS -->

<%= link_to travels_path do %>
  <p><%= t('.back_dashboard') %></p>
<% end %>
