<h1><%= @visa.name %></h1>
<p><%= t('.country') %> <%= @visa.country[:name] %></p>
<p><%= t('.category') %> <%= @visa.category %></p>
<p><%= t('.duration') %> <%= @visa.duration %></p>
<p><%= t('.delivery') %> <%= @visa.deliverance_max_date %></p>
<p><%= t('.price') %> <%= @visa.price %></p>
<p><%= t('.contact') %> <%= @visa.contact_number %></p>
<p><%= t('.application') %> <%= @visa.application %></p>

<%= link_to t('.back'), country_visas_path %>
