<h1><%= @vaccine.name %></h1>
<p><%= t('.description') %> <%= @vaccine.disease_description  %></p>
<p><%= t('.risks') %> <%= @vaccine.risks %></p>
<p><%= t('.type') %> <%= @vaccine.treatment_type %></p>
<p><%= t('.treatment') %>
  <% @vaccine.treatment.split(";").each do |t| %>
    <p><%= t %></p>
  <% end %>
</p>
<p><%= t('.schema') %> <%= @vaccine.vaccine_schema %></p>
<p><%= t('.start') %> <%= @vaccine.treatment_start %> jours</p>
<p><%= t('.end') %> <%= @vaccine.treatment_end %> jours</p>
<p><%= t('.contraindications') %> <%= @vaccine.contraindications %></p>
<p><%= t('.travel_advised') %> <%= @vaccine.travel_advised %></p>


<%= link_to t('.back'), vaccines_path %>



