<h1><%= t('.title') %></h1>
<p></p>

<% @documents.each do |document| %>
  <div>
    <p><%= t('.name') %> <%= document.name %></p>
    <p><%= t('.type') %> <%= document.doc_type %></p>
    <% if document.doc_type == "passport" %>
      <p><%= t('.expiration') %> <%= l document.expiration_date %></p>
    <% end %>
    <% if document.files.attached? %>
         <% document.files.each do |f| %>
        <% if f.image? %>
          <%= link_to image_tag(f, :width => 200, :height => 250, :crop => :fill), f %>
        <% elsif f.representable? %>
          <%= link_to cl_image_tag("#{f.key}.png", :width => 200, :height => 250, :crop => :fill), rails_blob_path(f, disposition: :attachment) %>
        <% else %>
          <%= link_to f.filename, f %>
        <% end %>
      <% end %>
      <!-- Juste pour tester - à remplacer par les previews des docs FIN -->
    <% end %>
    <%= link_to edit_document_path(document) do %>
      <p><%= t('.edit') %></p>
    <% end %>
    <%= link_to document_path(document), method: :delete, data: { confirm: t('.confirmation') } do %>
      <p><%= t('.delete') %></p>
    <% end %>
    <hr>
  </div>
<% end %>


<hr>

<%= link_to new_document_path do %>
  <p><%= t('.add') %></p>
<% end %>

<%= link_to travels_path do %>
  <p><%= t('.back_dashboard') %></p>
<% end %>
