<h1>Liste de tes documents</h1>
<p></p>

<% @documents.each do |document| %>
  <div>
    <p>Nom: <%= document.name %></p>
    <p>Type de document: <%= document.doc_type %></p>
    <% if document.doc_type == "passport" %>
      <p>Date d'expiration: <%= l document.expiration_date %></p>
    <% end %>
    <% if document.files.attached? %>
      <p>Ici les document attachés</p>
      <!-- Juste pour tester - à remplacer par les previews des docs DEBUT -->
      <% document.files.each do |f| %>
        <% if f.image? %>
          <%= link_to image_tag(f, :width => 200, :height => 250, :crop => :fill), f %>
        <% elsif f.representable? %>
          <%= link_to cl_image_tag("#{f.key}.png", :width => 200, :height => 250, :crop => :fill), rails_blob_path(f, disposition: :attachment) %>
        <% else %>
          <%= link_to f.filename, f %>
        <% end %>
      <% end %>
      <!-- Juste pour tester - à remplacer par les previews des docs FIN -->
    <% end %>
    <%= link_to edit_document_path(document) do %>
      <p>Modifie ce doc </p>
    <% end %>
    <%= link_to document_path(document), method: :delete, data: { confirm: "Es-tu certain?" } do %>
      <p>Supprime ce doc</p>
    <% end %>
  </div>
<% end %>


<hr>

<%= link_to new_document_path do %>
  <p>Ajoute un nouveau document </p>
<% end %>

<%= link_to travels_path do %>
  <p>Retour à ton dashboard </p>
<% end %>
