<h1><%= t('.title') %></h1>

<%= simple_form_for [@user, @document], html: {id: "drag"} do |f| %>
  <div>
    <%= f.input :name, label: t('.name') %>
  </div>
    <%= f.input :doc_type, collection: ["passport", "airplane ticket", "visa"], label: t('.type') %>
  <div>
    <%= f.input :expiration_date, :as => :hidden, input_html: {class: "datePicker"}, label: t('.expiration') %>
  </div>
  <div class="doc label">
    <%= f.label :files, t('.files') %>
    <div class="dragndrop-form">
      <p class="inactive"><%= t('.drag_html') %></p>
    </div>
    <%= f.file_field :files, multiple: true, direct_upload: true %>
    <div class="files"></div>
  </div>
  <%= f.submit t('.create') %>
<% end %>

<%= link_to documents_path do %>
  <p><%= t('.back') %></p>
<% end %>
